<app-search></app-search>
<app-tags></app-tags>
<ul>
    <li *ngFor="let food of foods">
        <!-- {{food|json}} -->
        <a routerLink="/food/{{food.id}}" class="card">
            <img src="{{food.imageUrl}}" class="image-top" alt="food images">
            <div class="content">
                <div class="name">
                    {{food.name}}
                </div>

                <span class="favourite" (click)="heartStatus(food)"
                    [ngClass]="food.favourite?'bi bi-heart-fill':'bi bi-heart'"></span>


                <star-rating [value]="food.star" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="24px"
                    [readonly]="true">
                </star-rating>
                <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of food.origins">
                            {{origin}}

                        </span>
                    </div>
                    <div class="cook-time">
                        <span>🕔</span>
                        {{food.cookTime}}
                    </div>


                </div>
                <div class="price">
                    {{food.price|currency:'INR'}}
                </div>

            </div>
        </a>
    </li>
</ul>