ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    
}

ul li a {
    text-decoration: none;
    height: 22rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
    // object-fit: cover;
    // opacity: 0.8;

}

li a:hover {
    opacity: 0.7;
    // border-radius: 10px;
    cursor: pointer;

}

img {
    border-radius: 10px;
    margin: .3rem;
    // padding: .3rem;
    // width: 90%;
    // height: 70%;
}
content{
    padding: 5rem 1rem;
    position: relative;
    // margin: 2rem;
}
.name{
    margin: .3rem;
}
.favourite{
    position: absolute;
    top: 13rem;
    right: 0.5rem;
    font-size: 1.0rem;
    margin: .3rem;

}
.favourite.not{
    color: black;

}
.star{
    margin-bottom: 0.2rem;
    margin: .3rem;

}
.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.origins{
    flex: 9;
    margin: .3rem;

}
.origins span{
    border-radius: 2rem;
    background-color: whitesmoke0;
    color: gray;
    font-size: 0.7rem;
    margin-right: .3rem;
    display: inline-block;
}
.cook-time{
    font-size: 0.8rem;
    flex: 3;
    text-align: right;
    margin: .3rem;

}
.price{
    color: #424242;
    margin-top: .2rem;
    margin: .3rem;

    // text-decoration: none;
}